# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Cache
.cache/